
.cotegor-cart-sec{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 300px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 5px; 
    box-shadow: 0px 0px 10px gray;
}
.cotegory-card-img>img{
    height: 200px;
    width: 300px;
    border-radius: 5px;

}
.cotegory-card-texte{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
    
}
.cotegory-tect{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cotegory-g{
    margin-left: 35px;
    font-size: 20px;
    color: rgb(246, 135, 8);
}
.card-icons{
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ;
}
.card-icons:hover{
    background-color: white;
color: orangered;    
}
