
.footer-main-container{
    /* height: 400px; */
    background-color: rgb(33, 29, 29);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.footer-img-log{
    /* height: 400px; */
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-logo{
    width: 350px;
    height: 100px;
}
.footer-quick-link{
    height: 400px;
    width: 17rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.footer-qu{
    color: white;
    margin-top: 20px;
}
.footer-links{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links .item{
    font-size: 14px;
    text-decoration: none;
    color: rgb(246, 135, 8);

    font-weight: bold;
}
.footer-cutomer-soport{
    height: 400px;
    width: 17rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-link2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.footer-link2 .item{
   font-size: 14px;
    text-decoration: none;
    color: rgb(246, 135, 8);

    font-weight: bold;

}
.footer-he{
    color: white;
    margin-top: 20px;
}
.footer-stey-conect{
    height: 400px;
    width: 17rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.footer-send-email{
    display: flex;
    

}
.footer-content-text{
    color: rgb(246, 135, 8);
}

.footer-send-email>input{
    
  border: none;
    outline: 1px solid rgb(246, 135, 8);
    /* border-left: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod; */
    padding: 5px ;
    border-radius: 5px 0px 0px 5px;
}
.footer-send-icone{
  padding: 5px;
    background-color:  rgb(246, 135, 8);
    border-radius: 0px 10px 10px 0px;
  outline: 1px solid rgb(246, 135, 8);
}
.send-icone{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-left: 10px;

}
.footer-main-icone{
    font-size: 30px;
    color: rgb(246, 135, 8);

}
.footer-main-icone2{
    font-size: 30px;
    
    color: rgb(246, 135, 8);
}
.footer-main-icone3{
    font-size: 30px;
    color: rgb(246, 135, 8);
    
}
.footer-main-icone4{
    font-size: 30px;
    color: rgb(246, 135, 8);
    
}
.footer-stey{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.footer-multi-icone{
    display: flex;
    gap: 10px;
}


    
